#table-search {
    display: inline-block;
    margin: 10px;
}

#email-list-btns {
    display: inline-block;
}

.email-list-btn {
    cursor: pointer;
    display: inline-block;
    margin: 10px 20px 10px 10px;
}

.email-list-btn:hover {
    color: #2786c2;
}
